@tailwind base;
@tailwind components;
@tailwind utilities;

section{
  transition: background-color 0.5s, color 0.2s;
}

.custom-shadow:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 black;
}

.custom-shadow-dark:hover{
  color: black;
  box-shadow: inset 0 -100px 0 0 #F9CDCD;
}

.nav-group {
  display: inline-block;
  position: relative;
  color: white;
}

.slider-content, .slider-content * {
  user-select: none;
}

.custom-underline {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  background: white;
  height: 2px;
  transition: width 0.3s ease-in-out;
}

.nav-group:hover .custom-underline {
  width: 100%;
}

.slider-content {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
}

.slider-content:active {
  cursor: grabbing;
}


@layer components {
    .slider-content::-webkit-scrollbar {
      display: none;
    }
    
    .slider-content {
      scrollbar-width: none;
    }
    
    .slider-container {
      -ms-overflow-style: none;
    }
  }

 